*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
}

header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 91px;
    background-color: #FAFAFA;
}


header h3{
    display: flex;
    align-items: center;
    padding: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    align-content: center;
    color: #252B42;
    
}

.container {
    display: flex;
    justify-content: space-between;

}


.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 90px
}


nav ul,
nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
}

nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #737373;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    align-content: center;
}


nav img {
    width: 20px;
}

nav span {
    display: block;
    padding: 15px;
    text-decoration: none;
    color:#23A6F0;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    align-content: center;
}


.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #252B42;
    padding: 10px;
    list-style-type: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    margin: 5px 0;
}

.dropdown-menu li a {
    color: #fff;
    text-decoration: none;
   
}


li a img{
    width: 15px;
    height: 10px;
    margin-left: 6px;

}


.login-register{
    margin-left: -25px;
    margin-bottom: 8px;
}


.size{
    width: 1440px;
    height: 640px;
}


.container-slider {
    position: relative;
    width: 100%;
    max-width: 1440px; 
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    z-index: 1;
  }
  
  .container-images {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease; 
    z-index: 0;
  }
  
  .slider {
    width: 100%;
    height: 640px;
    object-fit: cover;
  }
  
  
  #prev-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2; 
  }
  
  #next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0; 
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2; 
  }
  
#prev-button,
#next-button {
    position: absolute;
    width: 24px;
    height: 44.47px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 3;
    left: 40px;
}

#prev-button {
    right: 1381px;
  }
  
#next-button {
    left: 1381px;
  }
  

  .indicator-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 126px; 
  }
  
  .indicator {
    width: 63px;
    height: 10px;
    background-color: #FFF;
    transition: all 0.2s ease-in-out;
    z-index: 3; 
    cursor: pointer; 
  }
  
  .indicator.selecionado {
    left: 503px;
    opacity: 50%;
  }
  
  .indicator:not(.selecionado) {
    left: 440px;
    opacity: 1;
  }
  
  .indicator-container img {
    opacity: 0.5;
  }
  

  .container-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 112px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  .container-item h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #FFF;
    max-width: 800px;
    margin-bottom: 32px;
  }


  .container-item h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align:center;
    letter-spacing: 0.2px;
    color: #FFF;
    max-width: 550px;
    width: 100%;
    margin: 40px auto;
  }

  .container-item button {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width: 204px;
    height: 62px;
    gap: 10px;
    background-color: #23A6F0;
    border: none;
    border-radius: 4px;
    margin-top: 24px;
    cursor: pointer;
    margin: 0 auto;
  }
  
  .container-item button h3 {
    width: 100%;
    height: 32px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #FFF;
    text-align: center;
  }